/* Styles for the Dashboard */
.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .table-container {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table thead th {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .table thead th:first-child {
    border-top-left-radius: 8px;
  }
  
  .table thead th:last-child {
    border-top-right-radius: 8px;
  }
  
  .table tbody tr td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    color: #555;
  }
  
  .table tbody tr td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 500;
  }
  
  .table tbody tr td:nth-child(2),
  .table tbody tr td:nth-child(3) {
    text-align: right;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table tbody tr td strong {
    font-weight: bold;
    color: #333;
  }
  