.stacked-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.stacked-bar-container h2 {
  margin-bottom: 20px;
}

.stacked-bar-container canvas {
  max-width: 60%; /* Adjust width */
  max-height: 60%; /* Adjust height */
  border: 2px solid #333; /* Adds a border around the chart */
  padding: 10px;
  border-radius: 15px; /* Optional: adds rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow */
}
